.view-toggle  {
    padding: 7px 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    min-width: 90px;
    color: white;
    border-width: 0px;
    margin-left: 10px;
    background-color: #3385739b;
  }
  
  .view-toggle.on {
    background-color: #8c8c8ca9;
  }